node_modules
.next
.env
.env.local
.env.*.local
.DS_Store
dist
.vercel
*.log
prisma/migrations
prisma/dev.db
prisma/dev.db-journal
prisma/amplify.db
prisma/amplify.db-journal
prisma/backups/
*.tsbuildinfo
next-env.d.ts
